
/* ===================================
   Global STYLE
====================================== */
body {
    color: #000000;
    line-height: 2;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    min-width: 320px;
    position: relative;
    overflow-x: hidden;
    background: linear-gradient(to right, #fff0f0 0%, #d0d1cc 100%);
    background-position: center;
}
p {
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: #000;
    transition: .35s ease-out;
}

a:hover {
    color: #a7c5ee;
}

/* ===================================
    HEADER STYLE
====================================== */

.s-nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    max-width: 40%;
    z-index: 1;
    overflow: hidden;
    padding: 85px ;
}


.nav-soc {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.nav-soc li {
    margin-right: 25px;
}

.nav-soc li a {
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 5px;
}

.nav-container .site-title {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 51px;    
    position: relative;
    display: inline-block;
}

.nav-container .site-title:before {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 5px;
    height: 2px;
    width: calc(100% - 5px);
    transition: .35s ease-out;
    background-color: #263157;
}


.nav-container .site-title:hover:before {
    width: 0px;
    background-color: #1cc5b7;
}
